* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff; 
    box-shadow: 
    1px 0 10px rgba(0,0,0,0.1),
    -1px 0 10px rgba(0,0,0,0.1);
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
    display: none;
}

a {
    text-decoration: none;
}

.header {
    min-height: 56px;
}

.main-nav {
    background-color: #ffffff;
    position: relative;
    height: 56px;
}

.logo {
    width: 138px;
    height: 70px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.nav-list {
    min-height: 56px;
    padding: 0 73px;
    display: flex;
    flex-wrap: nowrap;
}

.nav-list li {
    list-style: none;
    min-height: 56px;
    width: 240px;
   text-align: left;
}

.nav-list li:nth-child(3) {
    margin-left: auto;
}

.nav-list li:nth-child(3),
.nav-list li:last-child {
    text-align: right;
}

.nav-list li a {
    font-weight: 700;
    color: #000000;
    line-height: 56px;
}

.nav-list a:visited {
    color: #7f6d62;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #81b3d2;
}

.nav-list a:active {
    color: #b2b2b2;
}

.welcome {
    height: 510px;
    background-color: #81b3d2;
    background-image: 
    url("../img/top_bg2.jpg");
    background-size: cover;
    position: relative;
}

.welcome img {
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
/*
.welcome::before {
    content:"";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
}*/

.capture {
    height: 214px;
    text-align: center;
}

h2 {
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 32px;
}

.content h3 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400px;
    color: #696969;
}

.reason-one {
    display: flex;
    width: 100%;
}

.reason-two {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.reason-one .text-block,
.reason-two .text-block {
    list-style: none;
    height: 255px;
    width: 400px;
    background-color: #81b3d2;
}

.text-wrapper {
    padding: 42px 0 60px 0;
    
}

.reason-one figure,
.reason-two figure {
    width: 800px;
   margin-right: auto;
}

.reason-one p,
.reason-two p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 22px;
}

.reason-one p:first-of-type,
.reason-two p:first-of-type { 
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    padding-top: 3px;
}

.reason-two p:first-of-type { 
   padding-bottom: 20px;
}

.extra {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.extra li {
    list-style: none;
    width: 400px;
    height: 330px;
    
}

.extra-content {
    padding: 60px 0 55px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.extra p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #696969;
    text-align: center;
    padding-bottom: 22px;
}

.extra li p:nth-child(2),
.reason-else p:first-child {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.reason-else  {
    background-color: #eeeeee;
    display: flex;
    align-content: space-between;
}

.reason-else li {
    list-style: none;
    height: 255px;
    width: 400px;
}

.text-else {
    padding: 50px 0 85px 0;
}

.reason-else p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400px;
    text-align: center;
    padding-bottom: 22px;
    color: #656565;
}

.reason-else p:first-of-type {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #000000;
}

.favour {
    min-height: 763px;
}

.favour-title {
    min-height: 293px;
    background-color: #ffffff;
}

.favour-title p:first-of-type {
    padding-top: 52px;
    padding-bottom: 23px;
}

.favour-title p:nth-child(2) {
    font-size: 25px;
    line-height: 40px;
    font-weight: 700px;
    text-align: center;
}

.favour-title p:nth-child(3) {
   font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   color: #696969;
   text-align: center;
}
/*Форма*/
.map {
    position: relative;
}

.form-search {
    background-color: #ffffff;
    width: 572px;
    height: 395px;
    position: absolute;
    top: -86px;
    padding-top: 86px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.form-search h3 {
    font-size: 18px;
    line-height: 86px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.form-search .form-title {
    background-color: #766357;
    margin-top: -86px;
}

.form-search .form-title:hover {
    background-color: #604e43;
    cursor: pointer;
}

.form-search .form-title:active {
    background-color: #503e33;
}

.form-search h3:active {
    color: #857871;
}

.form-body {
    padding: 55px;
}

.fields-large {
    position: relative;
    margin-bottom: 30px;
    clear: both;
    text-align: right;
}

.fields-large label,
.fields-small label {
    float: left;
    font-size: 12px;
    line-height: 38px;
}

.fields-large label {
    padding-left: 3px;
    padding-top: 2px;
}

.form-body input {
    padding-top: 8px;
    padding-bottom: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
}

.form-body input[name="arrivaldate"],
.form-body input[name="departuredate"] {
    width: 345px;
    padding-left: 12px;
}

.calendar {
    position: absolute;
    display: block;
    margin-top: -30px;
    right: 10px;
    width: 21px;
    height: 22px;
    background-color: transparent;
    background-repeat: no-repeat;
    opacity: 1;
    fill: #d7d7d7;
    z-index: 20;
}

.calendar:hover {
    opacity: 1;
    fill: #000000;
}

.calendar:active svg {
    opacity: 1;
    fill: #81b3d2;
}

.fields-small {
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.fields-small label {
    float: left;
}

.fields-small label[for=children] {
    margin-left: 52px;
}

.fields-small input {
    float: left;
    width: 38px;
    text-align: center;
    font-size: 14px;
}

.fields-small div {
    float: right;
}

.fields-small .btn {
    float: left;
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    color: #a9a9a9;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
}

.fields-small .btn:hover {
    color: #000000;
    background-color: #ebebeb;
}

.fields-small .btn:focus {
    outline: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.fields-small .btn:active {
    color: #81b3d2;
}

.form-body input[type=submit] {
    width: 100%;
    margin: 55px 0 0;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #81b3d2;
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.form-body input[type=submit]:hover {
    background-color: #669ec0;
    cursor: pointer;
}

.form-body input[type=submit]:active,
.form-body input[type=submit]:focus {
    background-color: #5496bd;
    color: #88b6d1;
}

footer {
    min-height: 120px;
    display: flex;
    padding: 0 73px;
    justify-content: space-between;
    align-content: center;
}

.visits,
.footer-logo {
    width: 240px;
    text-align: center;
    padding-left: 10px;
}

.visits a {
    font-size: 18px;
    line-height: 120px;
    color: #000000;

   
}

.social-icon {
    width: 150px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.icon-item {
    list-style: none;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-link {
    width: 17px;
    height: 15px;
    margin: 0 auto;
}

.icon-item:hover,
.icon-item:focus {
	background-color: #669ec0;
 }
 .icon-item:active {
	background-color: #5496bd;
 }

 a.icon-link:active img {
     background-color: #88b6d1;
     opacity: 0.3;
 } 
 
.footer-logo {
    display: flex;
    justify-content: end;
    align-content: center;
}

.footer-logo a {
    padding-top: 40px;
}

.footer-logo svg  {
    width: 115px;
    height: 40px;
}

.footer-logo svg path {
    fill: #231f20;
}

.footer-logo a:hover svg path,
.footer-logo a:focus svg path {
    fill: #81b3d2;
}

.logo-link:active svg path{
    fill: #bdbbbc;
}

.footer-logo p {
    font-size: 12px;
    line-height: 120px;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 13px;
    color: #444444;
}

/*Внутренняя страница*/

.inner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fefefe;
    box-shadow:
    1px 0 10px rgba(0,0,0,0.1),
    -1px 0 10px rgba(0,0,0,0.1); 
}

.inner-nav {
    background-color: #fefefe;
    position: relative;
    height: 56px;
}

.inner-top {
    height: 215px; 
    margin-left: 73px;
    margin-right: 73px;
    background-image: url("../img/hotels-fon.jpg");
    background-repeat: no-repeat;
    background-position: 0;
    z-index: 5;
}

.inner-check {
    position: relative;
    height: 215px;
    display: flex;
    margin: 0 auto;
}

.top-block {
    width: 600px;
    display: flex;
}

.infra,
.type-housing {
    width: 200px;
}

.inner-check p,
.inner-check label,
.inner-check input[type="checkbox"],
.inner-button,
.cost-list li input {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color:#ffffff;
}

.cost-list li input,
.inner-button {
    border: 1px solid #ffffff;
    background-color: transparent;
}

.inner-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.inner-content {
    height: 540px;
    width: 100%;
}

.sorted {
    height: 87px;
    display: flex;
    align-items: center;
}

.result {
    width: 165px;
    padding-left: 73px;
}

.result p {
    font-size: 22px;
    line-height: 87px;
    font-weight: 700;
    color: #000000;
}

.menu {
    min-width: 700px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.menu p {
    width: 115px;
    font-size: 12px;
    font-weight: 400;
}

.menu-link {
    width: 240px;
    display: flex;
    justify-content: space-between;
}
.menu-link a {
    font-size: 12px;
    font-weight: 400;
    color: #b2b2b2;
    border-bottom: 2px dotted #b2b2b2;
}

.menu-link a:first-of-type {
    color: #81b3d2;
    border-bottom: none;
}

.menu-link a:hover,
.menu-link a:focus {
    color: #81b3d2;
    border-bottom: 2px dotted #81b3d2;
}

.menu-link a:active {
    color: #000000;
    border-bottom: none;
}

.arrows {
    width: 95px;
}

.arrow-up svg path {
    fill: #cacaca;
}

.arrow-up:hover svg path,
.arrow-up:focus svg path,
.arrow-down:hover svg path,
.arrow-down:focus svg path {
    fill: #231f20;
}

.arrow-up:active svg path,
.arrow-down:active svg path {
    fill: #81b3d2;
}

.sample-wrapper {
    height: 454px;
    padding-left: 73px;
    padding-right: 73px;
    list-style: none;
}

.sample-item {
    height: 150px;
}

.block-item {
    height: 90px;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

figure {
    width: 135px;
    height: 90px;
    margin-right: 30px;
}

.description {
    min-width: 260px;
}

.description-item {
    display: flex;
   justify-content: end;
   padding: 6px 0;
}

.title-hotel {
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    padding: 0;
}

.title-hotel:hover,
.title-hotel:focus {
   color: #81b3d2;
}

.title-hotel:active {
    color: #b2b2b2;
}

.description h3,
.description p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #696969;
}

.description h3 {
    width: 118px;
}

.description p {
    width: 142px;
}

.btn-details,
.btn-reservation {
    font-size: 12px;
    line-height: 28px;
    font-weight: 700px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    height: 28px;
    border: none;
}

.btn-details {
    background-color: #81b3d2;
    width: 110px;
    margin-right: 8px;
}

.btn-reservation {
    background-color: #766357;
    width: 142px;
}

.btn-details:hover,
.btn-details:focus {
    background-color: #669ec0;
}

.btn-reservation:hover,
.btn-reservation:focus {
    background-color: #604e43;
}

.btn-details:active {
    color: #88b6d1;
    background-color: #5496bd;
}


.btn-reservation:active {
    color: #81746d;
    background-color: #503e33;
}

.stars {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

.stars p:last-of-type {
    height: 28px;
    width: 110px;
    background-color: #f2f2f2; 
    font-size: 12px; 
    line-height: 28px;
    color: #696969;
    text-align: center;
    margin-left: auto;
}

.stars p:first-of-type {
    height: 17px;
    margin-left: auto;
}












