* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff; 
    box-shadow: 
    1px 0 10px rgba(0,0,0,0.1),
    -1px 0 10px rgba(0,0,0,0.1);
}

.visually-hidden {
    display: none;
}

a {
    text-decoration: none;
}

.header {
    min-height: 56px;
}

.main-nav {
    background-color: #ffffff;

    position: relative;
    height: 56px;
}

.logo {
    width: 138px;
    height: 70px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.nav-list {
    min-height: 56px;
    padding: 0 73px;
    display: flex;
    flex-wrap: nowrap;
}

.nav-list li {
    list-style: none;
    min-height: 56px;
    width: 240px;
   text-align: left;
}

.nav-list li:nth-child(3) {
    margin-left: auto;
}

.nav-list li:nth-child(3),
.nav-list li:last-child {
    text-align: right;
}

.nav-list li a {
    font-weight: 700;
    color: #000000;
    line-height: 56px;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #81b3d2;
}

.nav-list a:visited {
    color: #7f6d62;
}

.nav-list a:active {
    color: #b2b2b2;
}

.welcome {
    height: 510px;

    background-color: #81b3d2;
    background-image: 
    url("../img/top_bg2.jpg");
    background-size: cover;

    position: relative;
}

.welcome img {
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.capture {
    height: 214px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.content h3 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400px;
    color: #696969;
}

.reason-one,
.reason-two {
    display: flex;
}

.reason-two {
    flex-direction: row-reverse;
}

.reason-one li,
.reason-two li,
.reason-else li {
    list-style: none;
    height: 255px;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reason-one li:first-child,
.reason-two li:first-child {
    background-color: #81b3d2;
    width: 400px;
    flex-grow: 0;
}

.reason-one li:last-child,
.reason-two li:last-child {
    flex-grow: 1;
}

.reason-one p,
.reason-two p,
.reason-else p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

.reason-one p:first-child,
.reason-two p:first-child { 
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.extra {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.extra li {
    list-style: none;
    width: 400px;
    height: 332px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.extra p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #696969;
    text-align: center;
    padding: 10px;
}


.extra li p:nth-child(2),
.reason-else p:first-child {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.reason-else  {
    background-color: #eeeeee;
    display: flex;
    align-content: space-between;
}

.reason-else p {
    color: #656565;
}

.favour {
    min-height: 763px;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-top: auto;
    position: relative;
}

.interested {
    min-height: 293px;
    background-color: #ffffff;
}

.interested p:first-of-type {
    padding-top: 50px;
    padding-bottom: 25px;
}

.favour p:nth-child(2),
.result {
    font-size: 22px;
    line-height: 40px;
    font-weight: 700px;
    text-align: center;
}

.favour p:nth-child(3) {
   font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   color: #696969;
   text-align: center;
}

.form-search {
    background-color: #ffffff;
    width: 568px;
    position: absolute;
    top: 207px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.form-search h3,
.button {
    font-size: 18px;
    line-height: 86px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
    text-align: center;
}

.form-search h3:hover {
    background-color: #604e43;
}

.form-search h3:active {
    color: #857871;
    background-color: #503e33;
}

.form-search p {
    min-width: 458px;
    margin-left: 55px;
    margin-bottom: 30px;
    margin-right: 55px;
}

.width-small {
    display: inline;
}

.form-search p:first-of-type {
    margin-top: 55px;
}

.form-search label {
    position: relative;
    left: 0;
}

.form-search label,
.form-search input[type="text"] {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.form-search input[type="text"] {
    background-color: #f2f2f2;
    height: 38px;
    position: relative;
    right: 0;
}

.large {
    width: 346px;
    position: relative;
    right: 55px;
}

.small {
    width: 114px;
    margin-right: 0;
}


.calendar {
    position: absolute;
    right: 80px;
}

.form-search input[type="text"]:hover {
    background-color: #ebebeb;
}

.form-search input[type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}
.button {
    background-color: #81b3d2;
    height: 58px;
    width: 456px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 25px;
    line-height: 58px;
}

.button:hover {
    background-color: #669ec0;
}

.button:active {
    background-color: #5496bd;
    color: #88b6d1;
}

footer {
    min-height: 120px;
    display: flex;
    padding: 0 73px;
    justify-content: space-between;
    align-content: center;
}

.visits,
.footer-logo {
    width: 240px;
    text-align: center;
}

.social-icon {
    width: 150px;
    display: flex;
    justify-content: space-between;
    
}
.icon-item {
    list-style: none;
}

.icon-link {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
}

.icon-link:hover {
	background-color: #669ec0;
 }
 .icon-link:active,
 .icon-link:focus {
	background-color: #5496bd;
 }
 
.visits a {
    font-size: 15px;
    line-height: 120px;
    color: #000000;
}
.footer-logo {
    display: flex;
    justify-content: end;
    align-content: center;
}

.footer-logo p {
    font-size: 10px;
    line-height: 120px;
    font-weight: 400;
    padding-right: 6px;
}

.footer-logo a {
    padding-top: 40px;
}
/*Внутренняя страница*/

.inner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fefefe;
    box-shadow:
    1px 0 10px rgba(0,0,0,0.1),
    -1px 0 10px rgba(0,0,0,0.1); 
}

.inner-top {
    height: 215px; 
    background-image: url("../img/hotels-fon.jpg");
    background-repeat: no-repeat;
}

.inner-check p,
.inner-check label,
.inner-check input[type="checkbox"],
.inner-button,
.cost-list li input {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color:#ffffff;
}

.cost-list li input,
.inner-button {
    border: 2px solid #ffffff;
    background-color: transparent;
}

.inner-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.result input,
.result label[type="text"],
.sample h2 {
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    border: none; 
}


.menu a {
    color: #b2b2b2;
    border-bottom: 2px dotted #b2b2b2;
}

.menu a:hover {
    color: #81b3d2;
    border-bottom: 2px dotted #81b3d2;
}

.menu a:active {
    color: #000000;
    border-bottom: none;
}

.menu a:first-of-type {
    color: #81b3d2;
    border-bottom: none;
}

.arrow-up img {
    opacity: 0.5;
}

.sample h2:hover {
   color: #81b3d2;
}

.sample h2:active {
    color: #b2b2b2;
}

.sample h3,
.sample p:first-of-type,
.sample p:last-of-type {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #696969;
}

.sample p:last-of-type {
    background-color: #f2f2f2;
}

.sample a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700px;
    color: #ffffff;
}

.sample a:first-of-type {
    background-color: #81b3d2;
}

.sample a:last-of-type {
    background-color: #766357;
}

.sample a:first-of-type:hover {
    background-color: #669ec0;
}

.sample a:last-of-type:hover {
    background-color: #604e43;
}

.sample a:first-of-type:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.sample a:last-of-type:active {
    color: #81746d;
    background-color: #503e33;
}

.four-stars,
.three-stars,
.two-stars {
    height: 18px;
    background-image: url("../img/star.svg");
    background-repeat: repeat;
}

.four-stars {
    width: 74px;
}

.three-stars {
    width: 56px;
}

.two-stars {
    width: 37px;
}










